nav {
  z-index: 5 !important; }
  nav button:active, nav button:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.1); }
  nav .navbar-brand {
    color: black; }

.behind {
  z-index: -1; }

.fill-absolute {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.center-inline {
  display: inline-block;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.hr-absolute {
  position: absolute;
  left: 15px;
  width: calc(100% - 30px);
  height: 1px;
  z-index: 6;
  transform: translateY(-1px);
  background-color: #222; }

#app {
  height: 200vh; }
